<a href="https://colab.research.google.com/github/susanna0507/python_demo/blob/master/100_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python version 확인
!python --version

Python 3.10.12

# 파이썬 공부할 때 좋은 사이트
https://docs.python.org/ko/3/tutorial/index.html     
영어와 한글 버전 틀어놓고 두개를 비교하며 보기  
https://peps.python.org/pep-0008/ (파이썬 작성 규칙)  
https://wikidocs.net/book/1  
https://dojang.io/course/view.php?id=7 (파이썬 코딩 도장)

In [ ]:
# 파이썬에서 추구하는 철학
import this

In [ ]:
import keyword
print(keyword.kwlist)
# len은 갯수를 세어 줌
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
#print 함수를 사용 안하면 하나밖에 출력 안됨!
print('Hello World')
print('Hello World')

Hello World
Hello World

In [ ]:
# ;은 문장의 끝을 의미한다
# 하나의 문장이 끝나면 문장의 끝에 ; 입력
# 하지만 파이썬에서는 줄바꿈하면 ; 생략 가능
print('Hello World'); print('Hello World')

Hello World
Hello World

In [ ]:
# 변수(veriable) : 값을 저장하는 메모리 공간
# \를 이용하여 한문장을 줄로 나눠줄 수 있다
# 들여쓰기로 다른 단계임을 표현, 스페이스바 or 탭키로 통일, 칸 갯수 통일
a = 10; b = 20;
if(a == 10) and \
 (b == 20) :
  print('OK')
else :
  print('NO')

OK

In [ ]:
# 1을 왼쪽에 대입
start = end = 1
print(start)
print(end)

1
1

In [ ]:
# +: 문자열 연결의 의미
a= '3' + '4'
print(a)

# +: 더하기의 의미
a = 1
a = eval('3+4')
print(a)

# eval()안에 들어가 있는 a는 수학상의 x처럼 여김
a = eval('a+3')
print(a)

a= eval('3' + '4')
print(a)

34
7
10
34

## 자료형
1. 데이터 저장방법에 따른 자료형의 분류  
  직접(direct)형 : 직접 데이터를 표현하는 자료형 : int, float, complex      
  시퀀스(sequence)형: 다른 데이터를 포함하는 자료형, 순서가 있는 집합 자료형 : list,str, tuple, bytes, bytearray,range    
  매핑(Mapping)형 : 다른 데이터를 포함하는 자료형 : dict    
  집합(Set)형 : 순서가 없고, 중복된 값도 없다. : set, frozenset  

중요!
2. 변경 가능성에 따른 자료형 분류  
  변경 가능형(Mutable) : 데이터의 값을 변경할 수 있다.  : list, dict, set  
  변경 불가능형(Immutable) : 데이터의 값을 변경할 수 없다. : int, float, complex, str, tuple, frozense

  
3. 데이터 저장 개수에 따른 자료형의 분류
  리터널(Literal/Scalar)형 : 한 가지 객체만 저장한다. : int, bytes, str, float, complex  
  컨테이널(Container)형 : 여러 가지 객체를 저장한다. : list, tuple, dict, set, fronzenset

type() : 데이터 자료형 확인

In [ ]:
type(5)

int

In [ ]:
type(65.3)

float

In [ ]:
type([1, 3, 5])

list

In [ ]:
type((2,6,7))

tuple

In [ ]:
a = 2, 6, 7
type(a)

#type()에 바로 2,6,7 넣으면 오류 뜸

tuple

In [ ]:
def call():
  return 2,3,4;

In [ ]:
print(call())
print(type(call()))

(2, 3, 4)
<class 'tuple'>

In [ ]:
type({1,2,3})

set

In [ ]:
type({a:3, b:4})

dict

In [ ]:
type('python')

str

dir(): 자료형의 내장함수를 검색할 수 있다

In [ ]:
# 프린트로 출력 안해도 됨, 가로로 볼려고 한거임
# 변경 못하면 인리터블
# list와의 차이점 검색해보기
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
# 변경 가능한 리터블
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
a=[1,2,3]
print(a.__dir__())

['__new__', '__repr__', '__hash__', '__getattribute__', '__lt__', '__le__', '__eq__', '__ne__', '__gt__', '__ge__', '__iter__', '__init__', '__len__', '__getitem__', '__setitem__', '__delitem__', '__add__', '__mul__', '__rmul__', '__contains__', '__iadd__', '__imul__', '__reversed__', '__sizeof__', 'clear', 'copy', 'append', 'insert', 'extend', 'pop', 'remove', 'index', 'count', 'reverse', 'sort', '__class_getitem__', '__doc__', '__str__', '__setattr__', '__delattr__', '__reduce_ex__', '__reduce__', '__subclasshook__', '__init_subclass__', '__format__', '__dir__', '__class__']

help() : 자료형에서 제공하는 메소드 사용법을 검색할 수 있다

In [ ]:
#help(str)
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [ ]:
#'hello'.index('l')
'hello'.index('l')

2

## Sequence 자료형
- Sequence은 여러 객체를 저장할 수 있는 순서를 갖는 연속된 자료형이다.
- 자료형 종류 : str, tuple, list
- sequence형의 공통적인 연산
  - 인덱싱(indexing)
  - 슬라이싱(slicing)
  - 연결하기
  - 반복하기
  - 멤버 검사
  - 길이정보

문자열(str)

문자열은 문자들을 표현하는 자료형으로 작은따옴표(')나 큰따옴표(")로 묶는다.
문자열의 슬라이싱 : [인덱스 시작 : 인덱스 끝 : 스텝]
스텝의 default은 1의 값을 갖는다.

In [ ]:
a = 'Life is too short. You need python'
print(a)

a = 'Life is too short. You need python'
print(a)

Life is too short. You need python
Life is too short. You need python

In [ ]:
a = "Python's favorite food is perl"
print(a)

a= '"Python is very easy." he says.'
print(a)
print(id(a))

# 문자열 escape라고 함
a = 'Python\'s favorite food is perl'
print(a)

a= "\"Python is very easy.\" he says."
print(a)

Python's favorite food is perl
"Python is very easy." he says.
135449779851216
Python's favorite food is perl
"Python is very easy." he says.

In [ ]:
b="""
   Life is too short.
   You need python
"""
print(b)
b = '''
   Life is too short.
   You need python
'''
print(b)

   Life is too short.
   You need python


   Life is too short.
   You need python

In [ ]:
# 공백도 문자로 인식함
a = 'Life is too short'
len(a) # 문자열 길이

17

In [ ]:
s_val= 'hello python!'
print(s_val)

hello python!

In [ ]:
#indexing (인덱싱) 값은 0부터 조회
s_val[1]

'e'

In [ ]:
#slicing (슬라이싱) [start:end:step], :이 무조건 하나 이상, 시작하는 값 이상 끝나는 값 미만
s_val[0:3] #0부터 3미만까지

'hel'

In [ ]:
s_val[1:2] #1부터 2미만까지

'e'

In [ ]:
# 시작부터 끝까지
s_val[1:] # 1부터 끝까지

'ello python!'

In [ ]:
# 변수의 모든 데이터를 가지고 옴
print(s_val[0:])
print(s_val[:])

hello python!
hello python!

In [ ]:
s_val[-1]

'!'

In [ ]:
s_val[-3:-1]

'on'

In [ ]:
s_val[::2] # 2씩 증가

'hlopto!'

In [ ]:
s_val[::-1] # 역으로 가져옴

'!nohtyp olleh'

In [ ]:
s_val[13::-1] # step이 -값일 경우 start와 end 값을 역으로 진행

'!nohtyp olleh'

문자열의 연결하기는 (+) 연산자를 사용

In [ ]:
s_val2 = 'hello' + ' ' + 'python!'
s_val2

'hello python!'

In [ ]:
# 보통 다른 자료형이여도 'hello2'로 나옴
# 하지만 파이썬은 자료형끼리만 (+) 연산자 사용 가능
s_val2 = 'hello' + 2
s_val2

TypeError: ignored

## 문자열 반복하기는 (*) 연산자를 사용

In [ ]:
s_val = 'win' * 3
s_val

'winwinwin'

In [ ]:
#같은 타입끼리 곱하는건 안됨.
s_val = 'win' * 'win'
s_val

TypeError: ignored

## 문자열을 변경할 때 슬라이싱과 연결하기 사용

In [ ]:
s_val = 'hello python!'

In [ ]:
s_check = 'H' + s_val[1:]
s_check

'Hello python!'

## in 연산자로 멤버 검사를 해서 부분 문자열의 존재 확인

In [ ]:
s_val = "red green blue"
s_val

'red green blue'

In [ ]:
# s_val 변수에 'green' 문자열이 있는지
'green' in s_val

True

In [ ]:
'white' in s_val

False

문자열 서식지정: 어떤 문서 양식을 만들어 넣고 비칸에 필요한 내용을 채워서 문서를 지정한다.

점프 투 파이썬 02-2 참고  
https://wikidocs.net/13

In [ ]:
s_val7 = 'python'
s_val8 = 83.5

print('%s 의 점수는 %.1f입니다.' % ( s_val7, s_val8)) # python1, 2방식
print('{} 의 점수는 {}입니다.'.format(s_val7, s_val8)) # python3 방식
print('{1} 의 점수는 {0}입니다.'.format(s_val8, s_val7))
print('{subject} 의 점수는 {jumsu}입니다.'.format(jumsu=s_val8, subject=s_val7))
print('{{0}} 의 점수는 {{1}}입니다.'.format(s_val7, s_val8)) # { }자체를 출력할때 {{}}을 한다.
print('{{{0}}} 의 점수는 {{{1}}}입니다.'.format(s_val7, s_val8)) # {}자체와 값을 출력할때는 {{{}}}을 한다.

print('{0:<10} 의 점수는 {1}입니다.'.format(s_val7, s_val8))  # 10자리 확보하고 남은 공간은 오른쪽을 여백으로 채운다.
#print('{:<10} 의 점수는 {}입니다.'.format(s_val7, s_val8))

print('{0:>10} 의 점수는 {1}입니다.'.format(s_val7, s_val8))  # 10자리 확보하고 남은 공간은 왼쪽을 여백으로 채운다.
#print('{:>10} 의 점수는 {}입니다.'.format(s_val7, s_val8))

python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
python 의 점수는 83.5입니다.
{0} 의 점수는 {1}입니다.
{python} 의 점수는 {83.5}입니다.
python     의 점수는 83.5입니다.
    python 의 점수는 83.5입니다.

## 문자열에서 제공하는 메소드

In [ ]:
a = 'hobby'
a.count('b') # 'b' 문자개수 리턴

2

In [ ]:
len(a) # 모든 문자열의 개수 리턴

5

In [ ]:
print(a.find('b'))
print(a.index('b'))

2
2

In [ ]:
print(a.find('c')) # 찾는 문자열이 없으면 -1을 리턴
print(a.index('c')) # 찾는 문자열이 없으면 오류 띄움

-1

ValueError: ignored

In [ ]:
#'apple' 문자열의 각각의 문자 사이에 '.'를 삽입해준다(. 대신에 다른 것이여도 상관 ㄴㄴ)
'.'.join('apple')

'a.p.p.l.e'

In [ ]:
'*'.join(['red','green','blue'])

'red*green*blue'

In [ ]:
a = 'hello'
a.upper() # 대문자로 변경

'HELLO'

In [ ]:
a = 'HELLO'
a.lower() # 소문자로 변경

'hello'

In [ ]:
a = '   hello  world  '
print(len(a)) #17
print(a)
b = a.lstrip() #왼쪽 공백 제거
print(len(b))
print(b) #14

17
   hello  world
14
hello  world

In [ ]:
a = '   hello  world  '
print(len(a)) #17
print(a)
b = a.rstrip() #오른쪽 공백 제거
print(len(b))
print(b) #15

17
   hello  world
15
   hello  world

In [ ]:
a = '   hello  world  '
print(len(a)) #17
print(a)
b = a.strip() #양쪽 공백 제거
print(len(b))
print(b) #12

17
   hello  world
12
hello  world

In [ ]:
a = 'Hello Python'
print(a.replace('Python', '파이썬')) # 문자열 변경

Hello 파이썬

In [ ]:
a = 'Red Green Blue'
print(a.split())

a = 'Red*Green*Blue'
print(a.split('*'))

a = 'Red**Green*Blue'
print(a.split('*'))

['Red', 'Green', 'Blue']
['Red', 'Green', 'Blue']
['Red', '', 'Green', 'Blue']

## 문제

문제1)
S='Somewhere on the rainbow'를 'Somewhere over the rainbow'로 변환하세요.

In [ ]:
S='Somewhere on the rainbow'
print(S.replace('on', 'over'))

Somewhere over the rainbow

In [ ]:
# 선생님 풀이
S='Somewhere on the rainbow'
print(dir(S))
print(S.replace('on', 'over'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Somewhere over the rainbow

문제2)
s = '/usr/local/bin/python' 에서 각각의 디렉토리 경로명을 분리하여 출력하세요.

[실행결과] ['', 'usr', 'local', 'bin', 'python']

In [ ]:
s = '/usr/local/bin/python'
print(s.split('/'))

['', 'usr', 'local', 'bin', 'python']

In [ ]:
# 선생님 풀이
s = '/usr/local/bin/python'
s.split('/')

['', 'usr', 'local', 'bin', 'python']

문제3)
'spam ham'을 'ham spam'으로 치환하세요.

※문자열의 split( )과 join( )메서드 그리고 리스트의 reverse( )메서드를 사용

In [ ]:
a =  'spam ham'
b = a.split()

b.reverse()
print(b)

print(' '.join(b))

['ham', 'spam']
ham spam

In [ ]:
# 선생님 풀이
a =  'spam ham'
b = a.split(' ')
print(b)

b.reverse()
print(b)

c = ' '.join(b)
print(c)

# -----------------------------------
we = a.split(' ')
we.reverse()
print(' '.join(we))

['spam', 'ham']
['ham', 'spam']
ham spam
ham spam

In [ ]:
# split()은 리턴값이 있어 b = a.split('') 표현 가능
def process():
  return 'data'

print(process())

# reverse()는 리턴값이 없어 c = b.reverse()로 표현 불가
def display():
   k='data'

print(display())

data
None

문제4)
문자열이 주어져 있을 때 'spam' 이 몇 번 나타나는지 구하시오.
단, 대소문자 구분하지 않음

s = 'spam Spam SpaM egg eGG Egg ham hAm'

In [ ]:
s = 'spam Spam SpaM egg eGG Egg ham hAm'
S = s.lower()
S.count('spam')

3

In [ ]:
# 선생님 풀이
s = 'spam Spam SpaM egg eGG Egg ham hAm'
s.lower().count('spam')

3

문제5)
단어의 순서가 바뀐 문자열로 만들세요.  
s = 'Sometimes I feel like a motherless child'

[실행결과]  
'child motherless a like feel I Sometimes'  
'dlihc sselrehtom a ekil leef I semitemoS'  
'SometimesIfeellikeamotherlesschild'

In [ ]:
# 단어의 순서 바꾸기
s = 'Sometimes I feel like a motherless child'
b = s.split()

b.reverse()
print(b)

print(' '.join(b))

['child', 'motherless', 'a', 'like', 'feel', 'I', 'Sometimes']
child motherless a like feel I Sometimes

In [ ]:
# 문자열의 숫자 뒤집기
s = 'Sometimes I feel like a motherless child'
s_val = s
s_val[::-1]

'dlihc sselrehtom a ekil leef I semitemoS'

In [ ]:
# 공백 없애기
s = 'Sometimes I feel like a motherless child'

In [ ]:
# 선생님 풀이 - 단어 순서
# 단어의 순서 바꾸기
s = 'Sometimes I feel like a motherless child'
b = s.split()

b.reverse()

' '.join(b)

'child motherless a like feel I Sometimes'

In [ ]:
# 선생님 풀이 - 문자열의 숫자 뒤집기
s = 'Sometimes I feel like a motherless child'
s[::-1]

'dlihc sselrehtom a ekil leef I semitemoS'

In [ ]:
# 선생님 - 풀이 공백 없애기
s = 'Sometimes I feel like a motherless child'
p = s.split()
''.join(p)

#----------------------------
s = 'Sometimes I feel like a motherless child'
s.replace(' ','')

SometimesIfeellikeamotherlesschild

## 리스트(list)
 - 시퀀스(Sequence) 자료형으로 데이터의 크기나 원소값을 변경할 수 있다.
 - 리스트는 [ ] 대괄호로 표현한다

In [ ]:
a = []
print(a)
print(type(a))
print(dir(a))

[]
<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

java

```java
class Test{
  public static void main(String[] args){
    int[] arr = nwe ont{1,2,3};
  }
  ```

javascript

```javasacript
   let color = ['red', 'green', 'blue']
```

In [ ]:
a = [10, 20, 30]
a

[10, 20, 30]

In [ ]:
# indexing
a[0]

10

In [ ]:
# slicing
a[0:]

[10, 20, 30]

In [ ]:
a[::-1]

[30, 20, 10]

In [ ]:
a[0:2:1]

[10, 20]

In [ ]:
a[-3:-1:1]

[10, 20]

In [ ]:
a[-1:-3:-1]

[30, 20]

In [ ]:
a = [5, 10, 15, 20, 25, 30]

In [ ]:
a[3:]

[20, 25, 30]

In [ ]:
a[:3]

[5, 10, 15]

In [ ]:
a[3::2]

[20, 30]

In [ ]:
a[:3:2]

[5, 15]

In [ ]:
a[2:0:-1]

[15, 10]

## list는 다양한 타입을 함께 포함할 수 있다.

In [ ]:
a = [10, 'python', 80.5, True]
a

In [ ]:
a = [[10, 20], (1,2,3), {100, 200},{'x':5, 'y':8}] #[list, tuple, set, dict]
a

[[10, 20], (1, 2, 3), {100, 200}, {'x': 5, 'y': 8}]

### list는 (+) 연산자를 사용하여 연결하기를 할 수 있다

In [ ]:
a = [1, 2]
a + a

[1, 2, 1, 2]

In [ ]:
a + 2

TypeError: ignored

## list는 (*) 연사자를 사용하여 반복하기를 할 수 있다

In [ ]:
a*2

[1, 2, 1, 2]

## list에서 특정값이 있는지 멤버 검사를 할 수 있다

In [ ]:
a = [1, 5, 8, 10]
print(5 in a)
print(3 in a)

True
False

## list는 matable이므로 요소들을 변경할 수 있다

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)

a[0]=1
a[1]=2
a[0:2] = [1,2] #지정한 범위의 요소를 [1,2]로 변경한다
print(a)

In [ ]:
a = ['apple', 'banana', 100, 200]
a[0:2] = [50] # 0 부터 2미만의 값을 50으로 변경한다. 크기가 달라진다
print(a)

[50, 100, 200]

In [ ]:
a = ['apple', 'banana', 100, 200]
a[0:1] = [300, 400, 500]
print(a)

#[[300, 400, 500], 'banana', 100, 200] 이렇게 나오는거 아님, 헷갈리지 않게 주의

[300, 400, 500, 'banana', 100, 200]

## list의 일부 요소를 삭제할 수 있다

In [ ]:
a = ['apple', 'banana', 100, 200]
a[0:2] = [] # 0부터 2미만까지의 요소가 삭제된다
print(a)

[100, 200]

In [ ]:
a = ['apple', 'banana', 100, 200]
print(a)

del a[0:2] #del을 이용해서 요소르 ㄹ삭제할 수 있다
print(a)

['apple', 'banana', 100, 200]
[100, 200]

## list에 요소를 추가할 수 있다.

In [ ]:
a = [3, 6, 9]
print(a)

a[1:1]=['red', 'green'] #슬라이싱[start:end:step]
print(a)

[3, 6, 9]
[3, 'red', 'green', 6, 9]

In [ ]:
a = [3, 6, 9]
print(a)

a[1]=['red', 'green'] #indexing [index]
print(a)

[3, 6, 9]
[3, ['red', 'green'], 9]

list에서 확장슬라이싱을 사용할 때는 왼쪽과 오른쪽 요소 갯수가 같아야 한다

In [ ]:
a = [2, 4, 6, 8]
print(a)

a[:] = [-1, -2, -3, -4]
print(a)

a[:] = [-1, -2]
print(a)

[2, 4, 6, 8]
[-1, -2, -3, -4]
[-1, -2]

In [ ]:
a = [2, 4, 6, 8]
print(a)

a[::1] = [-1, -2, -3, -4]
print(a)

a[::2] = [-1, -2, -3, -4]
print(a)

[2, 4, 6, 8]
[-1, -2, -3, -4]

ValueError: ignored

In [ ]:
a=[2,4,6,8]
print(a)

a[::2]=[-1,-2] # [2,6] 저장된 자리에 [-1,-2] 요소를 대체한다.
print(a)

[2, 4, 6, 8]
[-1, 4, -2, 8]

## list는 한 변수에 데이터를 각각 꺼내 오는 언팩킹(unpacking) 지원을 한다

In [ ]:
fruits=['apple','mango','grape','banana']
a=fruits[0]
b=fruits[1]
c=fruits[2]
d=fruits[3]
print(a,b,c,d)

# unpacking으로 데이터로 가져올 때 변수 선언을 해줘야 함
[zero,one,two, three]=fruits #괄호 유무는 상관 없음
print(zero,one,two, three)
print(type(zero),type(one),type(two),type(three))

apple mango grape banana
apple mango grape banana
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [ ]:
fruits=['apple','mango','grape','banana']
print(fruits)

x,_,_,_=fruits
print(x)

['apple', 'mango', 'grape', 'banana']
apple

In [ ]:
fruits=['apple','mango','grape','banana']
print(fruits)

x,*y=fruits # (*)는 모든을 의미, 하나만 입력해야 하며 사용하는 위치는 상관없음
print(x)
print(y)
print(type(x),type(y))

['apple', 'mango', 'grape', 'banana']
apple
['mango', 'grape', 'banana']
<class 'str'> <class 'list'>

In [ ]:
*x,y=fruits
print(x)
print(y)

['apple', 'mango', 'grape']
banana

In [ ]:
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['mango', 'grape']
banana

### function  
ex) len(a)

### method  
ex) a.append(e) -> 앞에 객체가 붙는 것
 -> 파이썬은 function과 method를 정확하게 구분하지 않고 사용

## list에서 제공하는 method

In [ ]:
a=[1,2,3]
print(type(a))
print(dir(a))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# append :요소 추가 (한 개만 입력 가능)
a=[1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
# reverse : 치환
a=[1,2,3]
a.reverse()
print(a)

[3, 2, 1]

In [ ]:
# index (list에서는 find가 제공되지 않음 -> 사용 불가)
a=[1,2,3]
print(a.index(1)) # 1 요소가 저장된 위치를 return

0

In [ ]:
# insert : 삽입
a=[1,2,3]
a.insert(1,10) # 1 인덱스에 10 요소를 삽입
print(a)

[1, 10, 2, 3]

In [ ]:
# remove : 제거
a=[1,2,3]
b=a.remove(2) # 2 요소를 삭제
print(a)
print(b) # remove(value) : return값이 없기 때문에 None이라는 값이 출력

a=[1,2,3,2,2]
a.remove(2) # 2 요소가 여러 개가 존재하면, 첫번째 2 요소만 삭제
print(a)

[1, 3]
None
[1, 3, 2, 2]

In [ ]:
# pop : 꺼내오기
a=[1,2,3]
b=a.pop(0) # 0 인덱스의 요소를 꺼내온다
print(a)
print(b) # pop(index) : return 값이 존재

[2, 3]
1

In [ ]:
# count : 요소의 개수를 return
a=[1,2,3,1]
print(a.count(1)) # 1 요소의 개수를 return

2

In [ ]:
# extend
a=[1,2,3]
a.extend([4,5]) # list를 확장해서 return, (+) 연산자와는 다르고 a+=과 같은 의미 (a+=[4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
a+=[4,5] # a=a+[4,5]
print(a)

[1, 2, 3, 4, 5]

## Tuple (튜플)
- 변경이 불가능(immutable)한 순서(sequence)가 있는 자료형이다
- 튜플은 ()소괄호로 표현한다.

In [ ]:
t = ( )
print(t)
print(type(t))
print(dir(t))

()
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t = (10, 20, 30) # tuple은 콤마(,)를 구분
print(t)

(10, 20, 30)

In [ ]:
t = (10, 20, 30) # tuple은 ( )괄호를 생략할 수 있다.
print(t)
t

(10, 20, 30)

(10, 20, 30)

In [ ]:
# 요소가 하나일 때는 int로 인식
t = (1)
print(t)
print(type(t))

1
<class 'int'>

In [ ]:
# 요소가 한 개일 때는 반드시 쉼표(,)가 있어야 한다.
#괄호는 생략할 수 있지만 쉼표(,)는 있어야 한다.
t = (1,)
print(t)
print(type(t))

t = 1,
print(t)
print(type(t))

1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
# 튜플에서도 다양한 데이터 타입의 값을 저장할 수 있다
t = (1, ('ko', 'en'), True)
print(t)

(1, ('ko', 'en'), True)

In [ ]:
# 튜플에서 연결하기를 할 수 있따
t=(1,2,3)+(4,5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
# 튜플에서도 반복하는 것이 가능
t=(1,2,3)*2
print(t)

(1, 2, 3, 1, 2, 3)

In [ ]:
# 튜플에서도 in 연산자를 사용하여 멤버 검사 가능
t=(1,2,3)
print(2 in t)
print(4 in t)

True
False

In [ ]:
# indexing
t=(5,10,15,20,25,30)
print(t)
print(t[0])

# slicing
print(t[0:2])

(5, 10, 15, 20, 25, 30)
5
(5, 10)

### tuple에서 언팩킹(unpacking)

In [ ]:
# 리스트, 튜플에서 언팩킹 리턴값은 리스트
t=(10,15,20,25,30,35)
x,y,*z=t
print(x)
print(y)
print(z)

10
15
[20, 25, 30, 35]

In [ ]:
x,*_,z=t
print(x)
# print(y)
print(z)

In [ ]:
t=((10,15),(20,25))
x,y=t
print(x)
print(y)

print('----------')
(x,y),(m,n)=t
print(x)
print(y)
print(m)
print(n)

### tuple 메소드 제공(count, index 2개만 제공)

In [ ]:
# count
t=(1,2,3,2,2,3)
print(t.count(3)) # 3 요소의 개수를 return

# index
print(t.index(2)) # 2 요소의 index를 리턴 (처음 검색된 요소의 index 값을 return)
print(t.index(3,4)) # index 값이 4 이상인 곳에서 3요소의 index 값 (검색하는 위치값을 지정 가능)

### tuple과 list 비교
- 공통점
- 다양한 데이터 타입의 객체를 저장할 수 있고, 순서(sequence) 자료형이다.
- 차이점
- tuple은 변경 불가능(immutable)이다
- list는 변경 가능(mutable)이

In [ ]:
t=(1,2,3)
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# tuple을 list로 생성
s=list(t)
print(s)
print(type(s))

[1, 2, 3]
<class 'list'>

In [ ]:
# list를 tuple로 생성
p=tuple(s)
print(p)
print(type(p))

(1, 2, 3)
<class 'tuple'>

In [ ]:
t=(1,2,3)
v=str(t)
print(v)
print(type(v))
print(len(v))

(1, 2, 3)
<class 'str'>
9

In [ ]:
i=[1,2,3]
m=str(i)
print(m)
print(type(m))
print(len(m))

[1, 2, 3]
<class 'str'>
9

### 집합(sets)
- 집합은 여러 값을 순서가 없고 중복 없이 모아 놓은 자료형
- python은 set과 frosenset 두 가지의 집합 자료형을 제공
- set은 변경 가능한 집합이고, frozenset은 변경 불가능한 자료형
- set은 {}중괄호로 사용할 수 없으나 set() 함수로 표현

In [ ]:
s={} # []=list(), ( )=tuple(), {}=dict{}
print(s)
print(type(s))

{}
<class 'dict'>

In [ ]:
s=set()
print(s)
print(type(s))

set()
<class 'set'>

### 집합(set)
- 멤버십(원소와 집합사이의 귀속관계), 검사, 시퀀스에서 중복제거와 교집합, 차집합, 집합 등 수학 연산 수행에 사용된다
- 순서가 유지되지 않으므로 indexing, slicing을 사용할 수 없음
- set이라는 객체를 사용할 때는, iterable(반복 가능한) 객체를 생성할 수 있음

In [ ]:
# set (iterable)
set((3,1,5,2,5)) # tuple을 이용해서 set을 생성하면 오름차순으로 나타남 (중복값 허용x)

{1, 2, 3, 5}

In [ ]:
# set (iterable)
set('apple') # 오름차순으로 나타남 (중복값 허용x)

{'a', 'e', 'l', 'p'}

In [ ]:
# set (iterable)
set([3,1,5,2,5]) # list를 이용해서 set을 생성하면 오름차순으로 나타남 (중복값 허용x)

{1, 2, 3, 5}

In [ ]:
a = [3, 1, 5, 2, 5]
b = set(a) #deep copy
print(b)

a[0] = 6
print(a)
print(b)

{1, 2, 3, 5}
[6, 1, 5, 2, 5]
{1, 2, 3, 5}

In [ ]:
# a=[3,1,[2,4],5] # [2,4]의 주소 값이 저장되기 때문에 set으로 생성할 수 없음 (주소 값은 변경 가능한 값이지만, set에는 변경 불가능한 값만 올 수 있음)
# print(a)
# b=set(a)
# print(b)

k=[2,4]
a=[3,1,k,5]
print(a)
b=set(a)
print(b)

[3, 1, [2, 4], 5]

TypeError: ignored

In [ ]:
# 변경이 불가능한것으로만 set 사용 가능함
a = [3,1 ,[2,4],5]
print(a)
b = set(a)
print(b)

In [ ]:
b = set({'one':1, 'two':2}) #dict 자료형으로 set을 생성하면 키만 참조한다.
print(b)
print(type(b))

{'two', 'one'}
<class 'set'>

In [ ]:
#set은 순서 유지 안됨, 중복 안됨
b = set(['one', 'two', 'under', 'app'])
print(b)
print(type(b))

{'under', 'two', 'app', 'one'}
<class 'set'>

In [ ]:
print(dir(set()))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
a = set((1,2,3,4,5))
b = set((4,5,6,7))
print(a.union(b)) # 합집합
print(a | b)      # 합집합
print(a.intersection(b)) # 교집합
print(a & b)             # 교집합
print(a.difference(b)) # 차집합
print(a - b)           # 차집합

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

In [ ]:
a = set((1,2,3))
a.add(4) # 요소를 추가, add(한개만)
print(a)

{1, 2, 3, 4}

In [ ]:
a = set((1,2,3))
a.update([4,5]) # 여러개 추가 update(iterable)
print(a)

# set은 변경 가능함 리터블

{1, 2, 3, 4, 5}

In [ ]:
a = set((1,2,3))
a.remove(2) # 요소 제거
print(a)

{1, 3}

### frozenset
- 요소를 변경하지 않는 범위에서 set객체와 동일하게 동작한다
- frozen  객체의 생성은 집합을 포함한 반복 가능한 자료형으로 부터 가능하다
- frozenset은 frozenset()으로 생성한다
- 잘 안씀

In [ ]:
f = frozenset()
print(f)
print(type(f))

frozenset()
<class 'frozenset'>

In [ ]:
f = frozenset([1,2,3,4,5])
print(f)

frozenset({1, 2, 3, 4, 5})

In [ ]:
print(dir(f))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

### dict
- 특정 키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형이다
- 데이터의 저장 순서가 없다
- 내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다
- key-value 형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다
- key 값은 중복을 허용하지 않는다.

In [ ]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
d = {'one':1, 'two':2}
print(d)
print(d['one'])
print(d.one)

# 에러 왜 뜨는지 보고 정리해놓기

{'one': 1, 'two': 2}
1

AttributeError: ignored

In [ ]:
print(dir(d))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
d = dict(one = 1, two = 2) #'onㄷ' 사용하면 안됨
print(d)
print(d['one'])

{'one': 1, 'two': 2}
1

zip()함수를 이용해서 dict()을 생성할 수 있다

In [ ]:
keys = ['one', 'two', 'three']
values = [1,2 ,3]
a = zip(keys, values)
print(a)
d = dict(a)
print(d)

<zip object at 0x79f6ef350780>

In [ ]:
#갯수가 안맞으면 키 값에 맞게 출력
keys = ['one', 'two', 'three']
values = [1,2 ,3,4,5]
#a = zip(keys, values)
#d = dict(a)
d = dict(zip(keys, values)) # 작은 갯수에 맞춰서 생성이 된다.
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
keys = ['one', 'two', 'three']
values = [1,2]
#a = zip(keys, values)
#d = dict(a)
d = dict(zip(keys, values)) # 작은 갯수에 맞춰서 생성이 된다.
print(d)

{'one': 1, 'two': 2}

### dict 메소드 제공

In [ ]:
print(dir({}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
d = {'one': 1, 'two': 2}
print(d.keys())

for k in d.keys():
  print(k)

dict_keys(['one', 'two'])
one
two

In [ ]:
d = {'one': 1, 'two': 2}
print(d.values())

dict_values([1, 2])

In [ ]:
d = {'one': 1, 'two': 2}
print(d.items())

dict_items([('one', 1), ('two', 2)])

In [ ]:
d = {'one': 1, 'two' : 2}
print(d.get('one')) # d['one']

1

In [ ]:
d = {'one': 1, 'two' : 2}
print(d.clear())
print(d)

None
{}

In [ ]:
d = {'one': 1, 'two' : 2}
print(d.get('one'))  #d['one']
print(d.get('three'))
print(d.get('three', 0))  #get(key, default)

1
None
0

-------------------------------------------------------------  
str: immutable, sequense  
list : mutable, sequense  
tuple : immutable, sequense  
set : mutable, non-sequense  
frosenset : imutable, non-sequense   
dict : mutable, non-sequense

indexing, slicing : str, list, tuple

##boolean
- True(참), False(거짓)

In [ ]:
a = True
print(a)
print(type(a))
print(dir(a))

True
<class 'bool'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
# python은 existance로 판단한다
a=1
print(bool(a)) # True

b=0
print(bool(b)) # False

c='ko'
print(bool(c)) # True

d=''
print(bool(d)) # False

e=(1,2)
print(bool(e)) # True

f=()
print(bool(f)) # False

True
False
True
False
True
False

## 문제

100 이하의 자연수 중에서 2의 배수이거나 3의 배수인 수의 개수를 구하세요.

[실행결과]  
67

In [ ]:
a = len(range(2, 101, 2))
b = len(range(3, 101, 3))
print(a+b)

83

전체집합을 U로 할때 U의 부분집합 A와 B에 대해서 연산의 결과를 구현하세요.

U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {1, 3, 5, 7, 9}
B = {1, 2, 3, 4, 5}

가) A∩Bc

나) (A∪B)c

[실행결과]  
가) {7, 9}   나) {6, 8, 10}

In [ ]:
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {1, 3, 5, 7, 9}
B = {1, 2, 3, 4, 5}

# 가)
print(A&(U-B))
# 나)
print(U-(A|B))

{9, 7}
{8, 10, 6}

주어진 문자열의 각 단어가 중복되지 않게 한 번씩만 출력이 되도록 구현하세요. (출력순서를 무관합니다.)
s = 'one two one two three four'

[실행결과]  
['two', 'four', 'one', 'three']

In [ ]:
s = 'one two one two three four'

set(s.split(' '))

{'four', 'one', 'three', 'two'}

튜플에 저장된 데이터에서 마지막 요소 5개를 삭제한뒤 나머지를 튜플로 출력하세요.
data =1,2,3,4,5,6,7,8,9,10

[실행결과]  
(1, 2, 3, 4, 5)

In [ ]:
data =1,2,3,4,5,6,7,8,9,10

t=data

print(data[0:5:1])
print(type(data))

(1, 2, 3, 4, 5)
<class 'tuple'>

a변수에 저장된 문자열에서 인덱스 홀수, b변수에 저장된 문자열에서 인덱스 짝수만을 가져오는 연결하는 프로그램을 구현하세요.
a='apple'
b='strawberry'

[실행결과]  
plsrwer

In [ ]:
a='apple'
b='strawberry'

A = a[1::2]
B = b[0::2]

print(A+B)

plsrwer