<a href="https://colab.research.google.com/github/susanna0507/python_demo/blob/master/102_python_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 함수 (function)
- 함수: 특정 목적을 가진 코드의 집합이며 독립적으로 호출될 수 있는 기능이다
- 함수 구조
```
  def 함수 이름(parameter_1, parameter_2):
    수행할 문장
    return 결과값
```

- 함수 호출
```
  함수 이름(argument_1, argument_2)  
```
  - parameter: 인자
  - argument: 인수, 호출하면서 값을 넘겨주는 것

In [ ]:
# 함수를 정의할 때 수행할 문장을 구현하지 않으면 에러가 발생한다.
def proc():
  pass # pass는 구현을 안할 때 오류가 발생하지 않도록 사용한다

In [ ]:
# 실행한 결과값 리턴
print(proc())

None

In [ ]:
# 함수식을 리턴
print(proc)

<function proc at 0x78406fe655a0>

In [ ]:
# 함수를 변수에 저장 가능
a = proc
print(a())

None

##collable
- 이름 뒤에()를 붙이는 것은 call(호출)이라고 한다.
- 이름 뒤에()를 붙일 수 있는 것을 calllable이라고 한다.
- 험수는 사용할 때 이름 뒤에 괄호를 붙인다
-python에서 callable인 것은 3가지 유형이 있다.
 - (1) function
 - (2) class(init가 정의되었을 경우)
 - (3) object(call이 정의되었을 경우)

In [ ]:
k = 1
k()

TypeError: ignored

In [ ]:
# callable은 built-in 함수로 ()을 붙여 사용할 수 있는지를 True/False로 알려준다
callable(k)

In [ ]:
list()

[]

In [ ]:
list

list

In [ ]:
del list

NameError: ignored

In [ ]:
list()

[]

In [ ]:
def prn():
  return 1

In [ ]:
prn()

1

In [ ]:
# callable은 built-in 함수로 ()을 붙여 사용할 수 있는지를 True/False로 알려준다
callable(prn)

True

In [ ]:
# parameter(인자)와 리턴 값이 있는 함수 정의
def max(x, y):
  if x>y:
    res = x
  else:
    res = y

  return res

In [ ]:
def max(x, y):
  if x>=y:
    return x
  else:
    return y

In [ ]:
print(max(10, 5)) # print 안해도 됨

10

In [ ]:
# 파라미터 (인자)와 리턴값이 없는 함수 정의
def max(x, y):
  if x>=y:
    print(x)
  else:
    print(y)
  #return #파이썬은 내부적으로 리턴을 명시 안하면 None이 출력

In [ ]:
print(max(10, 5))

10
None

In [ ]:
def max():
  x = 10
  y = 5
  if x>=y:
    print(x)
  else:
    print(y)

In [ ]:
print(max())

10
None

In [ ]:
# 인자도 없고 리턴도 없음
def max():
  x = 10
  y = 5
  if x>=y:
    return x
  else:
    return y

In [ ]:
print(max())

10

## paramter와 argument
1. positonal
2. keyword
3. positonal & keyword
4. positonal only
5. keyword only
6. 가변 positonal
7. 가변 keyword

1. positional
- 함수 호출 : 선선할 때 파라키터의 순서와 호풀할 때 argument의 입력의 입력순서를 그대로 매핑한다.

In [ ]:
def proc(a, b):
  return a,b

In [ ]:
proc(2, 4)

(2, 4)

2, keyword
- keyword 방식을 이용하면 순서와 상관없이 parameter 이름에 따라 값이 대입왼다

In [ ]:
proc(b=4, a=2)

(2, 4)

3. positonal & keyword 혼합

In [ ]:
def proc(a,b,c):
  return a, b, c

In [ ]:
proc(2, c=5, b=3)

(2, 3, 5)

In [ ]:
# 한번 keyword 방식을 사용하면, 그 다음부터는 keyword 방법만 사용할 수 있다
proc(c=5, 2, b=3)

In [ ]:
# python 버전 확인
!python --version

Python 3.10.12

4. positonal only
- positonal only는 힘수를 사용할 때 positonal 방식으로만 parameter를 쓸 수 있도록 강제하는 방법이다
- / 의 앞에 오는 parameter들은 positional 방식으로 입력할 수 있지만, keyword 방식으로 입력할 수 없다.
- positonal only 함수를 정의할 수 있는 것은 python3.8부터 지원한다. 이전 버전에서는 사전 정의된 positonal only 함수는 있지만, 사영자가 만들 수는 없었다

In [ ]:
def proc(a, b, c, /):
  return a, b, c

In [ ]:
proc(4, 5, 6)

(4, 5, 6)

In [ ]:
proc(4, c=6, b=5)

TypeError: ignored

In [ ]:
def proc (a, b, /, c, d):
  return a,b,c,d

In [ ]:
proc(4, 5, 6, 7)

(4, 5, 6, 7)

In [ ]:
proc(4, 5, d=7, c = 6)

(4, 5, 6, 7)

5. keyword only
- keyword only 방식은 keyword 방식으로만 입력하도록 강제하는 방법이다.
- '*' 이후로는 keyword 방식만 가능하다

In [ ]:
def proc(*,a , b, c, d):
  return a, b, c, d

In [ ]:
proc(a=3, c=5, b=4, d=6)

(3, 4, 5, 6)

In [ ]:
def proc(a , b,*, c, d):
  return a, b, c, d

In [ ]:
proc(3. 5, d=4, c=6)

6. 가변 positonal
- 가변 positonal은 parameter 이름에 '*'를 붙인다
- positonal 방식으로 입력되는 argument는 갯수에 상관없이 모두 받아온다.

In [ ]:
def proc(*a):
  print(type(a))
  return a

In [ ]:
print(proc())

<class 'tuple'>
()

In [ ]:
print(proc(1))

<class 'tuple'>
(1,)

In [ ]:
print(proc(1,2,3))

<class 'tuple'>
(1, 2, 3)

7. 가변 keyword
- 가변 keyword는 parameter 이름에 '**'를 붙인다.
- keyword 방식으로 입력되는 argument의 개수에 상관없이 모두 받아온다.

In [ ]:
def proc(**a):
  print(type(a))
  return a

In [ ]:
proc(x=2, y=3)

<class 'dict'>

{'x': 2, 'y': 3}

In [ ]:
proc(x=3, y=1, z=[1,2,3])

<class 'dict'>

{'x': 3, 'y': 1, 'z': [1, 2, 3]}

가변 positional/ 가변 keyword은 한 번만 사용할 수 있다

In [ ]:
def proc(*a, *b):
  return a, b

SyntaxError: ignored

In [ ]:
def proc(**a, **b):
  return a, b

SyntaxError: ignored

In [ ]:
x=3; y=5
result = x + y
print(result)

x=4; y=8
result = x + y
print(result)

x=5; y=6
result = x + y
print(result)

8
12
11

In [ ]:
def plus(x,y):
  result = x + y
  return result

In [ ]:
plus(3,5)

8

In [ ]:
plus(4,8)

12

In [ ]:
plus(5,6)

11

## overloading
- 함수의 이름은 같은데, parameter 갯수 또는 parameter 타입이 달라야 한다
-python은 overloading을 지원하지 않는다

In [ ]:
def add(a):
  return a+1

In [ ]:
add(6)

7

In [ ]:
# 같은 함수를 사용하게 되면 위의 함수는 사라짐
def add(a,b):
  return a+b

In [ ]:
add(1,2)

3

In [ ]:
add(3)

TypeError: ignored

In [ ]:
sum([1,2,3]) #sum은 내장 함수

6

In [ ]:
def sum(a,b):
  return a+b

In [ ]:
sum(1,2)

3

In [ ]:
# 위의 sum 함수로 인해서 기능을 잃어버림, 보통 많이 오류가 남
sum([1,2,3])

TypeError: ignored

In [ ]:
del sum

In [ ]:
type(add)

function

In [ ]:
print(dir(add))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
#__name__은 함수 이름을 알려준다
add.__name__

'add'

In [ ]:
display = add

In [ ]:
display(2,3)

5

In [ ]:
type(display)

function

In [ ]:
#함수를 다른 함수에 재할당해도 __name__은 원래 함수명을 알려준다.
display.__name__

'add'

정수 5개의 argument을 받는 exam 함수를 정의에서 합계와 평균을 계산하는 프로그램을 구현하세요

In [ ]:
def exam(a, b, c, d, e):
  hap = a+b+c+d+e
  avg = hap/5
  print('합계:{}'.format(hap))
  print('평균:{}'.format(avg))

In [ ]:
exam(2,3,4,5,6)

합계:20
평균:4.0

str 데이터 타입의 argument을 받는 display 함수를 정의하고 문자열의 갯수를 리턴하는 프로그램을 구현하세요

In [ ]:
def display(k):
  return len(k)

In [ ]:
display('apple')

5

str 데이터 타입의 argument을 받는 display 함수를 정의하고 특정 인덱스에 문자를 리턴하는 프로그램을 구현하세요

In [ ]:
#찾는 문자가 없을 때 : index() 오류발생, find() -1를 리턴
def display(k,i):
  return k.index(i)

In [ ]:
display('apple', 'a')

0

특정년도의 윤년, 평년을 구하는 리턴하는 프로그램을 구현하세요

In [ ]:
# 윤년 : 연도를 4로 나누어 떨어지고 100으로 나누어 떨어지면 안되거나
#                400으로 나눠 떨어지면 된다
def isLeapYear(year):
  if (year%4==0 and year%100!=0) or year%400==0:
    return True
  else:
    return False

In [ ]:
year=2016
if isLeapYear(year):
  print('{}년도는 {}입니다'.format(year,'윤년'))
else:
  print('{}년도는 {}입니다'.format(year,'평년'))

2016년도는 윤년입니다

In [ ]:
year=2017
if isLeapYear(year):
  print('{}년도는 {}입니다'.format(year,'윤년'))
else:
  print('{}년도는 {}입니다'.format(year,'평년'))

2017년도는 평년입니다

In [ ]:
def resultYear(b): #논리값
  if b :
    print('{}년도는 {}입니다'.format(year,'윤년'))
  else:
    print('{}년도는 {}입니다'.format(year,'평년'))

In [ ]:
year = 2016
checkYear = isLeapYear(year)
resultYear(checkYear)

2016년도는 윤년입니다

2개의 요소가 저장된 list 데이터 타입의 reverse해서 결과를 리턴하는 함수를 구현하세요

In [ ]:
def swap(data):
  a, b = data # 언패킹 가능하므로 해줌
  return [b,a]

In [ ]:
swap([1,3])

[3, 1]

In [ ]:
# a 값을 swap이 처리해도 그대로 유지되고 싶을 때 이용
def swap(data):
  return [i for i in reversed(data)]

In [ ]:
a = [1,3,4,5,6]
print(swap(a))
print('변경후:', a)

[6, 5, 4, 3, 1]
변경후: [1, 3, 4, 5, 6]

In [ ]:
# a 값을 swap이 처리하면 변경되는 것
def swap(data):
  data.reverse()
  return data

In [ ]:
a = [1,3,4,5,6]
print(swap(a))
print('변경후:', a)

[6, 5, 4, 3, 1]
변경후: [6, 5, 4, 3, 1]

대문자는 소문자로, 소문자는 대문자로 나머지는 그대로 해서 반환하는 프로그램을 구현하세요

In [ ]:
print(chr(97)) # 숫자를 알파벳으로 바꿔줌
print(ord('a')) # 위의 역
print(ord('a') -32)  # 소문자와 대문자의 차이 32
print(chr(65))
print(str(True))

a
97
65
A

In [ ]:
print(int(True))
print(int(False))
print(type(True))

1
0
<class 'bool'>

In [ ]:
# for도 일종의 반복문 이므로 continue 사용 가능
a = [1,2,3]
for i in a:
  if i%2==0:
    continue
  print(i)

1
3

In [ ]:
def process(arg):  #['p', 'y', 'T','1','_', True]
  data = []        # 변경한 값을 저장할 변수
  i = -1           # 인덱스에 접근하기 위한 변수
  while i <len(arg)-1: #i는 리스트이므로 변경가능한 값인 변수여야함
    i += 1
    #if (type(arg[i])==bool) or (type(arg[i])==int):
    if type(arg[i]) !=str:
      data.append(arg[i])#data 리스트에 추가하는 과정
      continue

    if arg[i] >= 'A' and arg[i] <= 'Z':
      data.append(chr(ord(arg[i]) + 32)) # A (65) a(97), arg의 i 번째 있는 것을 소문자로
    elif arg[i]>= 'a' and arg[i] <='z':
      data.append(chr(ord(arg[i]) - 32))
    else:
      data.append(arg[i])

  return data

In [ ]:
process(['p', 'y', 'T',1 ,'_', True])

['P', 'Y', 't', 1, '_', True]

In [ ]:
def process( arg ):  #['p','y','T',1,'_',True]
  data = []          # 변경한 값을 저장할 변수
  i = -1             # 인덱스에 접근하기 위한 변수
  while  i < len(arg)-1:  #i는 리스트이므로 변경가능한 값인 변수여야함
    i = i + 1
    if type(arg[i]) != str :
      data.append(arg[i])      #data 리스트에 추가하는 과정
      continue
    if arg[i].isupper():
      data.append(arg[i].lower())
    elif arg[i].islower():
      data.append(arg[i].upper())
    else:
      data.append(arg[i])

  return data

In [ ]:
process(['p', 'y', 'T', 1, '_', True])

['P', 'Y', 't', 1, '_', True]

데이터를 'a'는 '_'로, 's'는 '@'로 변경해서 리턴하는 프로그램을 구현하세요

In [ ]:
def passToken(arg):
  data=[]
  for item in arg: #인덱스 값을 가진 것은 for을 하면 하나씩 가져옴
    if item == 'a':
      data.append('_')
    elif item =='s':
      data.append('@')
    else:
      data.append(item)

  return ''.join(data) #list를 스트링으로 바꾸면 대괄호까지 ''

In [ ]:
passToken('address')  # _ddre@@

'_ddre@@'

python은 외부에서 함수 내부로 접근할 수 없다.

In [ ]:
def proc():
  z = 1

In [ ]:
# z는 함수 내에서 할당되었으므로 함수 밖에서 호출할 수 없다
z

NameError: ignored

In [ ]:
c =10 # 함수에서는 전역변수라 함, 여러 함수에서 참조 가능
def display():
  print(c)

In [ ]:
display() # c가 전역변수이기 때문에 출력 가능

10

global은 내부와 외부의 객체를 동기화(sync) 시켜준다  
global은 사용하기는 편하지만 언제 바뀌었는지 흐름을 파악하기 힘들기 때문에 남용은 하지 않는다

In [ ]:
t = 3
def prn():
  global t
  t = t+1
  print(t)

In [ ]:
prn()

4

In [ ]:
# 외부의 자원도 값이 변경되어 출력이 된다.
t

4

외부 함수의 자원을 내부 함수에서 참조할 때는 nonlocal을 사용한다.

In [ ]:
k = 1

def outer():
  m = 1
  def inner():
    global k
    k =k +1
    nonlocal m # 밖에 있는 변수를 내부에서 쓸 수 있도록 함
    m=m+1
    return k, m
  return inner()

In [ ]:
outer()

(2, 2)

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(3,4)

7

##lambda
- python에서는 익명함수를 정의할 때 lamda키워드를 사용한다
- 간결하게 함수를 표현하거나 def를 정의할 수 없는 경우에 사용한다

In [ ]:
add = lambda a, b : a+b

In [ ]:
type(add)

function

In [ ]:
add.__name__

'<lambda>'

In [ ]:
add(3, 4)

7